html {
    background: #CCF0F1;
    background: -moz-linear-gradient(top, #CCF0F1 0%, #B2F6FF 52%, #5CAEE1 100%);
    background: -webkit-linear-gradient(top, #CCF0F1 0%, #B2F6FF 52%, #5CAEE1 100%);
    background: linear-gradient(to bottom, #CCF0F1 0%, #B2F6FF 52%, #5CAEE1 100%);
}

.container {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: azure;
    margin: 50px auto;
    flex-direction: column;
    border-radius: 10px;
}


.counter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: red;
    margin: auto;
    text-shadow: 3px 5px 2px #474747;

}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    text-shadow: 2px 2px 2px #000000;
}

.btn {
    width: 160px;
    padding: 20px;
    margin: 20px;
    font-size: 50px;
    color: blue;
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.27);
}